h1{
    color: rebeccapurple;
    background-color: orange;
    padding: 20px;
    margin: 20px    10px;
    width: 100px; height: 100px;
}
.yuh{
    color: greenyellow;
    text-align: center;
    background-color: aquamarine;
    font-weight: bold;
    border: 10px dotted dodgerblue;

}
*{
    color: blue;
}